*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll; 
}
@font-face {
    font-family: 'TeslaFont';
    src: url('../Assets/Fonts/GothamSSm-Bold_Web.woff2');
}

@font-face {
    font-family: 'TeslaFont';
    src: url('../Assets/Fonts/GothamSSm-Bold_Web.woff2');
    font-weight: bold;
}

@font-face {
    font-family: 'TeslaFont';
    src: url('../Assets/Fonts/GothamSSm-Light_Web.woff2');
    font-weight: lighter;
  }

@font-face {
    font-family: 'TeslaFont';
    src: url('../Assets/Fonts/GothamSSm-Medium_Web.woff2');
    font-weight: medium;
}
.main {
    overflow: scroll;
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
}
.main-container {
    background-size: contain;
    background-repeat: no-repeat;
    background: url("../Images/model3background.jpg") center center/cover;
    height: 100vh; 
    width: 100vw;
    scroll-snap-align: start;
}
.second-container{
    scroll-snap-align: start;
}
.main-header{
    width: fit-content;
    position: fixed;
    top: 25px;
    left: 55px;
}
.middlenavbar button:hover{
    background: gray;
    border-radius: 10px;
    
}
 .middlenavbar a{
    color: white;
    text-decoration: none;
}
.sidenavbar a{
    color: white;
    text-decoration: none;
}
.middlenavbar button{
        font-size: 14px;
        font-family: 'TeslaFont';
        display: inline-block;
        padding: 5px;
        margin: 83px 5px;
        color: white;
        background-color: transparent;
        background-repeat: no-repeat;
        border: none;
        cursor: pointer;

    } 
.middlenavbar {
    width: 600px; 
    position: relative;
    left: 600px;
    top: -110px; 
    /* float: calc(100vw - 50%); */
}
.tesla-logo{
    width: 120px;
}
.sidenavbar{
    width: fit-content;
    float: left;
    position: relative;
    top: -300px;
    left: 1600px;
}
.sidenavbar button {

        font-size: 14px;
        font-family: 'TeslaFont';
        display: inline-block;
        padding: 5px; 
        margin: 80px 5px;
        color: white;
        background-color: transparent;
        background-repeat: no-repeat;
        border: none;
        cursor: pointer;
        overflow: hidden;    
        
}
.sidenavbar button:hover{
    background: gray;
    border-radius: 10px;
}
.text4model3{
    float: left;
    position: relative;
    left: 880px;
    top: 95px;
}
#model3text {
    font-size: 40px;
    font-family: 'TeslaFont';
    text-align: center;
    color: white;
    
}
.main-footer{
    font-family: 'TeslaFont';
    float: left;
    position: relative;
    bottom: -586px;
    left: 500px;
    color: white;
}
#speedometer {
    overflow: hidden;
    color: white;
}
.box1 {
    position: relative;
    top: 214px;
    height: 10px;
}
#Speedometer-number{
    font-size: 28px;
    font-family: 'TeslaFont';
}
#zerotosixty {
    font-size: 12px;
}

.range {
    font-family: 'TeslaFont';
    position: relative;
    left: 167px;
    top: 207px;
}
#rangetext {
    font-size: 28px;

}
#rangesecondlevel {
    font-size: 12px;
}
.drivetype {
    font-family: 'TeslaFont';
    position: relative;
    left: 334px;
    top: 155px;
}
#AWD {
    font-size: 28px;
}
#dualmotor {
    font-size: 12px;
}
.ordernow-button {  
    position: relative;
    left: 450px;
    top: 100px;
}
.ordernow-button button{
        color: white;
        padding: 10px 35px;
        font-family: 'TeslaFont';
        background-color: transparent;
        background-repeat: no-repeat;
        border: none;
        cursor: pointer;
        overflow: hidden;  
        border-radius: 25px;
        border: 5px white solid  ;
}
.ordernow-button a{
    
    text-decoration: none;
    color: white;
  
}
.ordernow-button button:hover{
    color: black;
    background-color: white;
}
.mainpage-sidefloatbar{
    margin: 10px;
    list-style: none;
    padding: 5px;
    /* color: white; */
    width: fit-content;
    top: 36vh;
    background: transparent;
    float: left;
    position: fixed;
    z-index: 5;
}
.mainpage-sidefloatbar span {
    color: white;
    border: 5px black thin;
}
.mainpage-sidefloatbar button{
    color: white;
    padding: 3px;
    color:transparent;
    background-color: transparent;
    background-repeat:no-repeat;
    border: 0;
    cursor:pointer;
}
.mainpage-sidefloatbar a{
    font-family: 'TeslaFont';
    font-size: 10px;
    color: transparent;
    text-decoration: none;
}
.mainpage-sidefloatbar a:hover{
    color: #fff;
}
.second-container {
    scroll-snap-align: start;
    background: #F5F5F5;
    height: 100vh;
    width: 100vw;
}
.leftside{
    background-color: white;
    height: 100vh;
    width: 25vw;
}

.leftside-text{
    font-family: 'TeslaFont';
    font-size: 14px;
    width: 20vw;
    position: relative;
    left: 40px;
    top: 50px;
}
.rating {
    background-color: #E2E4E4;
    position: relative;
    float: left;
    width: 280px;
    height: 320px;
    border-radius: 35px;
    top: 100px;
    left: 50px;
}
.rating-title{
    font-family: 'TeslaFont';
    float: left;
    text-align: center;
    position: relative;
    top: 35px;
    left: 30px;
    font-size: 18px;
}
.row1left {
    font-family: 'TeslaFont';
    font-size: 14px;
    position: relative;
    left: -80px;
    top: 10px;
}
.secondword-firstrow{
    font-size: 8px;
}
.row1right {
    font-size: 17px;
    position: relative;
    top: -20px;
    left: 80px;
}
.row2left{
    font-family: 'TeslaFont';
    font-size: 14px;
    position: relative;
    left: -80px;
    top: 10px;
}
.secondword-2row{
    font-size: 8px;
}
.row2right {
    font-family: 'TeslaFont';
    font-size: 17px;
    position: relative;
    left: 80px;
    top: -20px;
}
.row3left{
    font-family: 'TeslaFont';
    font-size: 14px;
    position: relative;
    left: -80px;
    top: 10px;
}
.secondword-3row{
    font-size: 8px;
}
.row3right {
    font-family: 'TeslaFont';
    font-size: 17px;
    position: relative;
    left: 80px;
    top: -20px;
}
.row4left {
    font-family: 'TeslaFont';
    font-size: 14px;
    position: relative;
    left: -80px;
    top: 10px;
}
.secondword-4row{
    font-size: 8px;
}
.row4right {
    font-family: 'TeslaFont';
    font-size: 17px;
    position: relative;
    left: 80px;
    top: -20px; 
}
.row5left {
    font-family: 'TeslaFont';
    font-size: 14px;
    position: relative;
    left: -80px;
    top: 10px;
}
.row5right {
    font-family: 'TeslaFont';
    font-size: 17px;
    position: relative;
    left: 80px;
    top: -10px;  
}
.learnmore {
    position: relative;
    top: 285px;
    right: 40px;
}
#learnmore {
    background-color: white;
    font-size: 24px;
    padding: 5px 12px;
    border-radius: 25px;
}
#learnmore:hover{
    color: white;
    background-color: black;
}
.ordernow button{
    border: 2px black solid;
    border-radius: 20px;
    padding: 10px 25px;
    position: relative;
    background-color: transparent;
    background-repeat:no-repeat;
    top: 245px;
    left: 140px;
}
.ordernow button:hover{
    color: white;
    background-color: black;
}
.rightside img{
    float: right;
    position: relative;
    left: 1570px;
    top: -601px;
}
.third-page{
    scroll-snap-align: start;
    height: 100vh;
    width: 100vw;
}
.third-page .upper-section {
    background: url("../Images/tesla-third-page-background.jpg") center center/cover;
    height: calc(100vh - 5%);
    width: 100vw;
}
.bottom-footer{
    font-family: 'TeslaFont';
    float: left;
    position: relative;
    left: 450px;
    top: 50px;
}
.learnmore-footer{
    border: 2px black solid;
    background-color: white;
    font-size: 24px;
    padding: 2px 10px;
    border-radius: 25px;
}
.learnmore-footer:hover {
    color: white;
    background-color: black;
}
.ordernow-footer{
    border: 3px black solid;
    border-radius: 20px;
    padding: 10px 25px;
    position: relative;
    background-color: transparent;
    background-repeat:no-repeat;
    left: 10px;
}
.ordernow-footer:hover {
    color: white;
    background-color: black;
}
.rightside-footer p{
    font-family: 'TeslaFont';
    font-size: 14px;
    width: 1000px;    
    line-height: 25px;
    position: relative;
    top: -100px;
    left: 450px;
}
#speedometer-bottom{
    color: white;
    position: relative;
    top: 660px;
    left: 590px;
}

.bottom-message {
    text-align: center;
    color: white;
    font-family: 'TeslaFont';
    position: relative;
    top: 670px;
    left: 450px;
}
.second-bottom-message {
    color: white;
    text-align: center;
    font-family: 'TeslaFont';
    position: relative;
    top: 670px;
    left: 545px;
}
.speednumber {
    font-size: 28px;
    text-align: center;
    color: white;
    font-family: 'TeslaFont';
    position: relative;
    top: 600px;
    left: 1000px;
}
.upper-box2-message {
    color: white;
    font-size: 14px;
    font-family: 'TeslaFont';
    text-align: center;
    position: relative;
    left: 890px;
    top: 600px;
}
.upper-box2-message2{
    color: white;
    font-size: 14px;
    font-family: 'TeslaFont';
    text-align: center;
    position: relative;
    left: 955px;
    top: 602px;
}
#AWD-bottom{
    color: white;
    font-family: 'TeslaFont';
    font-size: 28px;
    position: relative;
    left: 1450px;
    top: 540px;
}
.upperbox-message{
    font-size: 14px;
    color: white;
    font-family: 'TeslaFont';
    text-align: center;
    position: relative;
    left: 1320px;
    top: 540px;
}
.upperbox-message2{
    font-size: 13px;
    color: white;
    font-family: 'TeslaFont';
    text-align: center;
    position: relative;
    left: 1330px;
    top: 540px;
}